h3{
    font-size: 15px;
    margin-left: 20px;
    height: 10px;
}
h2{
    margin-left: 20px;
    background-color: gainsboro;
    height: 10;

}
.left-first{
  border: solid 1px;
  margin-left: 20px;
}


/*

<!-- <div class="Headline">Dramatically Engage</div>
          <caption class="Level">
            Resource Taxing
          </caption>
          <hr />
          <caption class="Level">
            Resource Taxing
          </caption>
          <hr />
          <caption class="Level">
            Resource Taxing
          </caption>
          <hr />
          <caption class="Level">
            Resource Taxing
          </caption>
          <hr /> -->


<!--

<!-- <tr>
                <td>
                  <label class="Full-1"> 100% Protectively Envisioned </label>
                </td>
              </tr>
              <tr>
                <td><label class="Full-1"> 80% Objectively Invoted </label></td>
              </tr>
              <tr>
                <td><label class="Full-1"> 45% Portalled</label></td>
              </tr>
              <tr>
                <td><label class="Full-1"> 35% Done</label></td>
              </tr> -->


<div class="Headline">Completely Synergize</div>
          <hr />
          <caption>
            Resource Taxing
          </caption>
          <hr />
          <caption>
            Primer Niche markets
          </caption>
          <hr />
          <caption>
            Dynamically Innovate
          </caption>
          <hr />
          <caption>
            Protectively Envisioned
          </caption>
          <hr /> -->


          <!-- <div class="Headline">Dramatically Engage</div>
          <br />
          <caption>
            Objectively innovate empowered manufacture products whereas parallel
            platforms. Holisticly<br />predominate extensible testing produces
            for reliable supply chains. Dramatically engaged top-line web
            services a vis-a-vis cutting-edgedeliverables.<br /><br />
          </caption>
          <input type="Button" value="Engage" /><br /><br />  -->





.Box{
     
    }

    <!-- <ul>
        <li>
          <div class="Box">         <h2>Primer Niche markets</h2>
</div>
        </li>
      </ul> -->
<!-- <table class="Table1">
            <tr><th>Completely Synergize</th>
            </tr>
            <tr>
              <td>Resource Taxing</td>
            </tr>
            <tr>
              <td>Primer Niche markets</td>
            </tr>
            <tr>
              <td>Dynamically Innovate</td>
            </tr>
            <tr>
              <td>Protectively Envisioned</td>
            </tr>
          </table> -->
*/